@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine|Montserrat&display=swap");

* {
  box-sizing: border-box;
}

/* FULL HTML CONTENT */
body,
html {
  font-family: "Montserrat", sans-serif;
  /*background-color: rgb(216, 216, 216);*/
  background-color: rgb(90, 90, 90);
  background-image: url("../media/WoodBackground1.jpg");
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  background-image: url("../media/gallery/img6.jpg");
  background-size: cover;
  text-align: center;
  height: 100vh;
  margin-bottom: 40px;
  box-shadow: 0px 20px 20px rgb(0, 0, 0);
}

/* #headerFade {
  z-index: 99;
  position: relative;
  bottom: 0%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.700717787114846) 32%,
    rgba(0, 0, 0, 0.9444152661064426) 57%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 500px;
  margin-bottom: 20px;
} */

#main-div {
  z-index: 2;
  position: relative;
}

header .main-text-div {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  font-family: "Tangerine", cursive;
}

.header-overlay {
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}

.header-text {
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.hr-light {
  width: 300px;
  background-color: white;
  margin-bottom: 30px;
}

.fab {
  font-size: 50px;
  color: white;
}

.fab:hover {
  color: grey;
}

.fa-facebook-square {
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 760px) {
  html,
  body,
  header {
    height: 100vh;
  }

  #introText {
    height: inherit;
  }
}

/* MAIN CONTENT */

#mainContentContainer {
  text-align: center;
}

.row {
  margin-bottom: 40px;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.row {
  background-size: contain;
}

#row1,
#row2,
#row3 {
  /* background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8015581232492998) 0%,
    rgba(181, 179, 179, 1) 35%,
    rgba(43, 39, 39, 1) 100%
  ); 
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-lg-5 {
  color: white;
}

.card-img-overlay {
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card-dark-overlay {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
}

video {
  filter: grayscale();
}
