@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine|Montserrat&display=swap");

* {
  box-sizing: border-box;
}

/* FULL HTML CONTENT */
body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(29, 29, 29);
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  background-image: url("../media/gallery/img6.jpg");
  background-size: cover;
  text-align: center;
  height: 100vh;
  margin-bottom: 20px;
}

/* #introText {
  height: 25vh;
} */

#main-div {
  z-index: 2;
  position: relative;
}

header .main-text-div {
  display: flex;
  height: 100%;
  text-align: center;
  font-family: "Tangerine", cursive;
}

.header-overlay {
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}

.header-text {
  font-size: 5rem;
  color: white;
  margin-top: 170px;
  text-shadow: 2px 2px 8px black;
}

.hr-light {
  width: 300px;
  background-color: white;
  margin-bottom: 30px;
}

.fab {
  font-size: 50px;
  color: white;
}

.fab:hover {
  color: grey;
}

.fa-facebook-square {
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 760px) {
  html,
  body,
  header {
    height: 100vh;
  }

  #introText {
    height: inherit;
  }
}

/* MAIN CONTENT */

#mainContentContainer {
  text-align: center;
}

.main-text,
.hr-light {
  text-shadow: 5px 5px 8px black;
}

.row {
  margin-bottom: 40px;
  justify-content: space-around;
  align-items: center;
}

#row1,
#row3 {
  /*background-image: linear-gradient(rgb(175, 175, 175), rgb(255, 255, 255));*/
  padding-top: 20px;
  padding-bottom: 20px;
}

#row3 {
  margin-bottom: 0px;
}

.col-lg-5 {
  color: white;
}

.card-img-overlay {
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card-dark-overlay {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
}

video {
  filter: grayscale();
}
